<section class="container py-5 mb-1 mb-sm-2 my-lg-3 my-xl-4 my-xxl-5">
  <div class="row justify-content-center pt-2 pt-sm-4 pb-4 mb-2 mb-lg-3">
    <div class="col-lg-8 col-xl-7 col-xxl-6 text-center pt-2">
      <h2 class="h1 mb-1">Trusted by Grapplers, Proven on the Mats</h2>
    </div>
  </div>
  <div class="swiper pb-2 pb-sm-4">
    <swiper-container
      class="swiper-wrapper"
      [config]="swiperConfig"
      init="false"
    >
      <swiper-slide class="swiper-slide">
        <div class="card border-0 bg-info bg-opacity-10 h-100 text-center mt-5">
          <div class="polygon-avatar bg-info mx-auto translate-middle-y">
            <img
              src="assets/img/landing/mobile-app-showcase/testimonials/01.png"
              alt="Nick Williams"
            />
          </div>
          <div class="card-body pt-0 mt-n4">
            <p class="card-text fs-xl">
              I’ve been competing at blue belt for 2 years, and this is the first time I’ve had a gameplan that truly fits my style. The flowchart helped me stay calm and tactical under pressure.            </p>
          </div>
          <div class="card-footer border-0 pt-0">
            <div class="h4 mb-1">Luis M.</div>
            <span>Blue Belt Competitor</span>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div
          class="card border-0 bg-warning bg-opacity-10 h-100 text-center mt-5"
        >
          <div class="polygon-avatar bg-warning mx-auto translate-middle-y">
            <img
              src="assets/img/landing/mobile-app-showcase/testimonials/02.png"
              alt="Lili Bocouse"
            />
          </div>
          <div class="card-body pt-0 mt-n4">
            <p class="card-text fs-xl">
              I train 3x a week and don’t have time to figure out what to focus on. This plan gave me direction, clear techniques to work, and actually made class more fun.
            </p>
          </div>
          <div class="card-footer border-0 pt-0">
            <div class="h4 mb-1">Jamie R.</div>
            <span>Purple Belt Hobbyist</span>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div
          class="card border-0 bg-primary bg-opacity-10 h-100 text-center mt-5"
        >
          <div class="polygon-avatar bg-primary mx-auto translate-middle-y">
            <img
              src="assets/img/landing/mobile-app-showcase/testimonials/04.png"
              alt="Esther Howard"
            />
          </div>
          <div class="card-body pt-0 mt-n4">
            <p class="card-text fs-xl">
              As a white belt, I always felt overwhelmed. The personalized videos and roadmap gave me small, achievable goals that made a huge difference.
            </p>
          </div>
          <div class="card-footer border-0 pt-0">
            <div class="h4 mb-1">Tanya K.</div>
            <span>White Belt Beginner</span>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div
          class="card border-0 bg-danger bg-opacity-10 h-100 text-center mt-5"
        >
          <div class="polygon-avatar bg-danger mx-auto translate-middle-y">
            <img
              src="assets/img/landing/mobile-app-showcase/testimonials/03.png"
              alt="Jane Cooper"
            />
          </div>
          <div class="card-body pt-0 mt-n4">
            <p class="card-text fs-xl">
              The gameplans are structured, practical, and actually match the student’s strengths. It’s a great supplement to class and helps them take ownership of their progress.
            </p>
          </div>
          <div class="card-footer border-0 pt-0">
            <div class="h4 mb-1">Coach Darren L.</div>
            <span>Brown Belt Instructor</span>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>

    <div
      class="swiper-pagination position-relative bottom-0 mt-2 mt-lg-3 pt-4"
      id="swiper-pagination"
    ></div>
  </div>
</section>
