<section class="container py-5 mb-1 mb-sm-2 my-lg-3 my-xl-4 my-xxl-5" id="reviews">
  <div class="row justify-content-center pt-2 pt-sm-4 pb-4 mb-2 mb-lg-3">
    <div class="col-lg-8 col-xl-7 col-xxl-6 text-center pt-2">
      <h2 class="h1 mb-1">Trusted by hosts everywhere</h2>
    </div>
  </div>
  <div class="swiper pb-2 pb-sm-4">
    <swiper-container
      class="swiper-wrapper"
      [config]="swiperConfig"
      init="false"
    >
      <swiper-slide class="swiper-slide">
        <div class="card border-0 bg-info bg-opacity-10 h-100 text-center mt-5">
          <div class="polygon-avatar  mx-auto translate-middle-y">
<!--            <img-->
<!--              src="assets/img/landing/mobile-app-showcase/testimonials/01.png"-->
<!--              alt="Nick Williams"-->
<!--            />-->
          </div>
          <div class="card-body pt-0 mt-n4">
            <p class="card-text fs-xl">
              I used to run paper boards. This makes it 10x easier and everyone loves how simple it is now.          </p>
          </div>
          <div class="card-footer border-0 pt-0">
            <div class="h4 mb-1">Marcus R.</div>
            <span>Arizona</span>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div
          class="card border-0 bg-warning bg-opacity-10 h-100 text-center mt-5"
        >
          <div class="polygon-avatar  mx-auto translate-middle-y">
<!--            <img-->
<!--              src="assets/img/landing/mobile-app-showcase/testimonials/02.png"-->
<!--              alt="Lili Bocouse"-->
<!--            />-->
          </div>
          <div class="card-body pt-0 mt-n4">
            <p class="card-text fs-xl">
              Running squares for our group used to be a nightmare. Now it is automated and stress free.
            </p>
          </div>
          <div class="card-footer border-0 pt-0">
            <div class="h4 mb-1">Laila S.</div>
            <span>New Jersey</span>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide class="swiper-slide">
        <div
          class="card border-0 bg-primary bg-opacity-10 h-100 text-center mt-5"
        >
          <div class="polygon-avatar  mx-auto translate-middle-y">
<!--            <img-->
<!--              src="assets/img/landing/mobile-app-showcase/testimonials/04.png"-->
<!--              alt="Esther Howard"-->
<!--            />-->
          </div>
          <div class="card-body pt-0 mt-n4">
            <p class="card-text fs-xl">
              We run multiple boards every week. With this tool, everything is organized and players keep coming back.           </p>
          </div>
          <div class="card-footer border-0 pt-0">
            <div class="h4 mb-1">Jacob T.</div>
            <span>Florida</span>
          </div>
        </div>
      </swiper-slide>

<!--      <swiper-slide class="swiper-slide">-->
<!--        <div-->
<!--          class="card border-0 bg-danger bg-opacity-10 h-100 text-center mt-5"-->
<!--        >-->
<!--          <div class="polygon-avatar  mx-auto translate-middle-y">-->
<!--&lt;!&ndash;            <img&ndash;&gt;-->
<!--&lt;!&ndash;              src="assets/img/landing/mobile-app-showcase/testimonials/03.png"&ndash;&gt;-->
<!--&lt;!&ndash;              alt="Jane Cooper"&ndash;&gt;-->
<!--&lt;!&ndash;            />&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="card-body pt-0 mt-n4">-->
<!--            <p class="card-text fs-xl">-->
<!--              This isn’t a forum, it’s not a Discord—it’s one file. Straight to the point. I love the no-BS vibe.            </p>-->
<!--          </div>-->
<!--          <div class="card-footer border-0 pt-0">-->
<!--            <div class="h4 mb-1">Darnell K.</div>-->
<!--            <span>Ohio</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </swiper-slide>-->
    </swiper-container>

    <div
      class="swiper-pagination position-relative bottom-0 mt-2 mt-lg-3 pt-4"
      id="swiper-pagination"
    ></div>
  </div>
</section>
