<section class="container pt-5 mt-lg-3 mt-xl-4 mt-xxl-5">
  <div class="row pt-2 pt-sm-3 pt-md-4 pt-lg-5 pb-xxl-2 mt-md-3 mt-lg-0">

    <!-- Left Content -->
    <div class="col-lg-5 mb-5 mb-lg-0">
      <div class="h1 text-center text-lg-start pb-md-2 pb-xl-0 mb-4 mb-xl-5">
        🃏 Sharpen Your Game, One Bet at a Time
      </div>

      <!-- CTA Button -->
      <div class="d-flex justify-content-center justify-content-lg-start">
        <a class="btn btn-lg btn-primary" href="/landings/get-your-picks">Place Better Bets Now</a>
      </div>
    </div>

    <!-- Right Stats -->
    <div class="col-lg-7 col-xl-6 offset-xl-1">
      <div class="row row-cols-1 row-cols-sm-2 g-3 g-md-4">

        <!-- Stat 1 -->
        <div class="col">
          <div class="d-flex flex-column h-100 bg-primary bg-opacity-10 rounded-3 text-center p-4">
            <div class="h3 display-5 mt-1 mb-0">4.8/5</div>
            <div class="fs-lg mb-1">User Satisfaction Rating</div>
          </div>
        </div>

        <!-- Stat 2 -->
        <div class="col">
          <div class="d-flex flex-column h-100 bg-info bg-opacity-10 rounded-3 text-center p-4">
            <div class="h3 display-5 mt-1 mb-0">12,000+</div>
            <div class="fs-lg mb-1">Picks Delivered in the Last 12 Months</div>
          </div>
        </div>

        <!-- Stat 3 -->
        <div class="col">
          <div class="d-flex flex-column h-100 bg-warning bg-opacity-10 rounded-3 text-center p-4">
            <div class="h3 display-5 mt-1 mb-0">25+</div>
            <div class="fs-lg mb-1">Sportsbooks Analyzed Daily</div>
          </div>
        </div>

        <!-- Stat 4 -->
        <div class="col">
          <div class="d-flex flex-column h-100 bg-danger bg-opacity-10 rounded-3 text-center p-4">
            <div class="h3 display-5 mt-1 mb-0">68%</div>
            <div class="fs-lg mb-1">Hit Rate on Parlay Builders</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

