<section
  class="pt-5"
  style="background: linear-gradient(176.14deg, #f8f7e1 2.64%, #feeae7 94.95%)"
>
  <div class="container pt-5" data-bs-theme="light">
    <div
      class="row align-items-center justify-content-center pt-3 pt-sm-4 mt-sm-3"
    >
      <div
        class="col-sm-9 col-md-8 col-lg-7 offset-lg-1 order-md-2 pb-3 pb-sm-0 mt-md-n5 mb-4 mb-sm-5"
      >
        <div class="ps-md-4 ps-lg-0 mt-md-n4 mt-lg-n5">
          <h1 class="display-5 mb-lg-4">
            <span *ngIf="!isLoading && userName; else genericWelcome">
              Welcome back, {{ userName }}!
            </span>
            <ng-template #genericWelcome>
              Welcome back!
            </ng-template>
<!--            <br />Ready for your next-->
<!--            <span class="text-dark fw-bolder" data-bs-theme="light">BlitzSquares</span> game?-->
          </h1>
          <p class="text-body fs-lg">
            Check out your active games, browse new squares, and track your wins all in one place.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
