<section class="pt-5">
  <div class="container position-relative z-2 pt-5 mt-3 mt-sm-4 mt-md-5">
    <div class="row pt-xl-3 pt-xxl-4">
      <div class="col-lg-7 col-xxl-6">
        <h1 class="display-3 text-center text-lg-start">
          Get Your Personalized BJJ Gameplan
        </h1>
      </div>
      <div class="col-lg-5 offset-xxl-1 pt-sm-3">
        <p
          class="fs-lg text-center text-lg-start pb-3 pb-sm-0 pb-md-2 mb-4 mb-sm-5"
        >
          Fill out your info and we’ll email you a free preview of your custom gameplan, along with a link to purchase the full version for $20. Your full plan will be delivered to your inbox within 30 minutes—tailored to your belt rank, goals, and rolling style.        </p>

        <!-- Form -->
        <div class="card border-0 bg-primary py-4 px-xxl-4">
          <form class="card-body" #bjjForm="ngForm" (ngSubmit)="submitForm()" [ngClass]="{ 'was-validated': formSubmitted }" novalidate>
            <h2 class="h3 card-title text-white text-center pb-2 pb-xxl-3">
              Get Your Personalized BJJ Gameplan
            </h2>

            <!-- Step 1 -->
            <div *ngIf="currentStep === 1">
              <h3 class="text-white fs-5 mb-3">Foundational Info</h3>

              <div class="mb-3">
                <label class="form-label fs-base text-white" for="beltLevel">Belt Level</label>
                <select class="form-select form-select-lg text-white" required [(ngModel)]="formData.beltLevel" name="beltLevel" id="beltLevel">
                  <option value="" disabled>Select</option>
                  <option>White</option>
                  <option>Blue</option>
                  <option>Purple</option>
                  <option>Brown</option>
                  <option>Black</option>
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label fs-base text-white" for="position">Preferred Position</label>
                <select class="form-select form-select-lg text-white" required [(ngModel)]="formData.position" name="position" id="position">
                  <option value="" disabled>Select</option>
                  <option>Top</option>
                  <option>Bottom</option>
                  <option>Mixed / Depends</option>
                  <option>Not sure yet</option>
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label fs-base text-white">Body Type</label>
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-2">
                  <div class="form-check" *ngFor="let type of bodyTypes">
                    <input class="form-check-input " type="checkbox" [value]="type" (change)="onCheckboxChange($event, 'bodyTypes')" [checked]="formData.bodyTypes.includes(type)" [attr.name]="type">
                    <label class="form-check-label text-white">{{ type }}</label>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label fs-base text-white">Primary Goals</label>
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-2">
                  <div class="form-check" *ngFor="let goal of goals">
                    <input class="form-check-input" type="checkbox" [value]="goal" (change)="onCheckboxChange($event, 'primaryGoals')" [checked]="formData.primaryGoals.includes(goal)" [attr.name]="goal">
                    <label class="form-check-label text-white">{{ goal }}</label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Step 2 -->
            <div *ngIf="currentStep === 2">
              <h3 class="text-white fs-5 mb-3">Performance & Preferences</h3>

              <div class="mb-3">
                <label class="form-label fs-base text-white" for="giNogi">Gi / No-Gi Preference</label>
                <select class="form-select form-select-lg text-white" required [(ngModel)]="formData.giNogi" name="giNogi" id="giNogi">
                  <option value="" disabled>Select</option>
                  <option>Mostly Gi</option>
                  <option>Mostly No-Gi</option>
                  <option>I train both equally</option>
                  <option>Not sure yet</option>
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label fs-base text-white" for="weeklyTraining">Weekly Training Frequency</label>
                <select class="form-select form-select-lg text-white" required [(ngModel)]="formData.weeklyTraining" name="weeklyTraining" id="weeklyTraining">
                  <option value="" disabled>Select</option>
                  <option>1–2x per week</option>
                  <option>3–4x per week</option>
                  <option>5+ times per week</option>
                  <option>Just getting started</option>
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label fs-base text-white">Performance Strengths</label>
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-2">
                  <div class="form-check" *ngFor="let strength of performanceStrengths">
                    <input class="form-check-input" type="checkbox" [value]="strength" (change)="onCheckboxChange($event, 'performanceStrengths')" [checked]="formData.performanceStrengths.includes(strength)" [attr.name]="strength">
                    <label class="form-check-label text-white">{{ strength }}</label>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label fs-base text-white">Experience Outside BJJ</label>
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-2">
                  <div class="form-check" *ngFor="let exp of experiences">
                    <input class="form-check-input" type="checkbox" [value]="exp" (change)="onCheckboxChange($event, 'experiences')" [checked]="formData.experiences.includes(exp)" [attr.name]="exp">
                    <label class="form-check-label text-white">{{ exp }}</label>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label fs-base text-white" for="injuries">Injuries or Limitations</label>
                <textarea class="form-control form-control-lg" [(ngModel)]="formData.injuries" name="injuries" id="injuries" rows="3"></textarea>
              </div>
            </div>

            <!-- Step 3 -->
            <div *ngIf="currentStep === 3">
              <h3 class="text-white fs-5 mb-3 text-white">Delivery Details</h3>

              <div class="mb-3">
                <label class="form-label fs-base text-white" for="name">Name</label>
                <input class="form-control form-control-lg text-white" type="text" [(ngModel)]="formData.name" name="name" id="name" required>
              </div>
              <div class="mb-3">
                <label class="form-label fs-base text-white" for="email">Email Address</label>
                <input class="form-control form-control-lg text-white" type="email" [(ngModel)]="formData.email" name="email" id="email" required>
              </div>
              <div class="mb-3">
                <label class="form-label fs-base text-white" for="referalCode">Referral Code</label>
                <input
                  class="form-control form-control-lg text-white"
                  type="text"
                  [(ngModel)]="formData.referalCode"
                  name="referalCode"
                  id="referalCode"
                  placeholder="Optional"
                >
              </div>
            </div>


            <!-- Navigation -->
            <div class="d-flex flex-column flex-sm-row flex-lg-column flex-xxl-row align-items-center justify-content-center justify-content-lg-start pt-3 pt-xxl-4">
              <button *ngIf="currentStep > 1"
                      type="button"
                      class="btn btn-outline-light w-100 w-sm-auto w-lg-100 w-xxl-auto mb-2 mb-sm-0 mb-lg-2 mb-xxl-0 me-sm-3 me-lg-0 me-xxl-3"
                      (click)="prevStep()">
                Previous
              </button>

              <!-- Next Button (for steps 1 and 2) -->
              <button *ngIf="currentStep < totalSteps"
                      type="button"
                      class="btn btn-light w-100 w-sm-auto w-lg-100 w-xxl-auto mb-2 mb-sm-0 mb-lg-2 mb-xxl-0"
                      (click)="nextStep()">
                Next
              </button>

              <!-- Submit Button (on final step only) -->
              <button *ngIf="currentStep === totalSteps"
                      type="submit"
                      class="btn btn-light w-100 w-sm-auto w-lg-100 w-xxl-auto mb-2 mb-sm-0 mb-lg-2 mb-xxl-0">
                Get My Preview
              </button>

            </div>
          </form>
        </div>





      </div>
    </div>
  </div>

  <div
    class="jarallax"
    data-jarallax
    data-speed="0.6"
    style="
      background-image: url(assets/img/edgard-bortoletto-jZzUh7lzxHo-unsplash.jpg);
    "
    ngJarallax
    [config]="jarallaxConfig"
  >
    <div
      class="d-none d-xxl-block"
      style="height: 830px; margin-top: -470px"
    ></div>
    <div
      class="d-none d-xl-block d-xxl-none"
      style="height: 780px; margin-top: -490px"
    ></div>
    <div
      class="d-none d-lg-block d-xl-none"
      style="height: 700px; margin-top: -560px"
    ></div>
    <div
      class="d-none d-sm-block d-lg-none"
      style="height: 520px; margin-top: -450px"
    ></div>
    <div class="d-sm-none" style="height: 500px; margin-top: -450px"></div>
  </div>
</section>
